
/* css générale => pour toutes les pages */

body{
    width:960px;
    margin: 20px auto;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-left: 10px;
}

footer{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
}

body section{
    flex-grow:1;
}

img{
    max-width:100%;
}

/*fin général */

/* effet entete du site */

header img{
    transition: 1s transform;
}

header img.move{
    transform : scale(1.2) rotateZ(10deg) ;
}

/* homepage */

.home{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

/* presentation */

.presentation{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-top: 10px;
    text-align: center;
    text-shadow:2px 2px 2px grey;
}

.presentation img{
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}

/* contact */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact form{
    display: grid;
    grid-gap: 10px;
}

.contact form .envoyer{
    justify-self: center;
}